{% extends 'common/index.html' %}

{% block title %}主页{% endblock %}

{% block head %}
    <meta name="csrf-token" content="{{ csrf_token() }}">

{% endblock %}



{% block panel_title %}主页{% endblock %}

{% block side_panel %}
    {% if session['role']==0 %}
        <li class="list-group-item"><a href="{{ url_for('clazz.clazz_management') }}"><i class="glyphicon glyphicon-list-alt"></i>班级管理</a></li>
        <li class="list-group-item"><a href="{{ url_for('stu.user_management') }}"><i class="glyphicon glyphicon-bell"></i>用户管理</a></li>
    {% endif %}
{% endblock %}

