{% extends "common/base.html" %}
{% block title %}签到主页{% endblock %}

{% block container %}
    <!--nav-->
    <nav role="navigation" class="navbar navbar-custom">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button data-target="#bs-content-row-navbar-collapse-5" data-toggle="collapse" class="navbar-toggle" type="button">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">某某的管理系统</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div id="bs-content-row-navbar-collapse-5" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">

              <!-- <li class="disabled"><a href="#">Link</a></li> -->
              <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">{% if session["uname"] %}{{ session["uname"] }}{% endif %} <b class="caret"></b></a>
                <ul role="menu" class="dropdown-menu">
                  <li class="dropdown-header">Setting</li>
                  <li><a href="#">Action</a></li>
                  <li class="divider"></li>
                  <li class="active"><a href="#">Separated link</a></li>
                  <li class="divider"></li>
                  <li class="disabled"><a href="{{ url_for("stu.signout") }}">Signout</a></li>
                </ul>
              </li>
            </ul>

          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    <!--header-->
    <div class="container-fluid">
    <!--documents-->
        <div class="row row-offcanvas row-offcanvas-left">
          <div class="col-xs-6 col-sm-3 sidebar-offcanvas" role="navigation">
            <ul class="list-group panel">
                <li class="list-group-item"><i class="glyphicon glyphicon-align-justify"></i> <b>SIDE PANEL</b></li>
                <li class="list-group-item"><input type="text" class="form-control search-query" placeholder="Search Something"></li>
                <li class="list-group-item"><a href="{{ url_for('home') }}"><i class="glyphicon glyphicon-home"></i>主页 </a></li>
                <li class="list-group-item"><a href="{{ url_for('qd.qd') }}"><i class="glyphicon glyphicon-certificate"></i>签到 </a></li>
                <li class="list-group-item"><a href="list.html"><i class="glyphicon glyphicon-th-list"></i>Tables and List </a></li>
                <li class="list-group-item"><a href="forms.html"><i class="glyphicon glyphicon-list-alt"></i>Forms</a></li>
                <li class="list-group-item"><a href="alerts.html"><i class="glyphicon glyphicon-bell"></i>Alerts</a></li>
                <li class="list-group-item"><a href="timeline.html" ><i class="glyphicon glyphicon-indent-left"></i>Timeline</a></li>
                <li class="list-group-item"><a href="calendars.html" ><i class="glyphicon glyphicon-calendar"></i>Calendars</a></li>
                <li class="list-group-item"><a href="typography.html" ><i class="glyphicon glyphicon-font"></i>Typography</a></li>
                <li class="list-group-item"><a href="footers.html" ><i class="glyphicon glyphicon-minus"></i>Footers</a></li>
                <li class="list-group-item"><a href="panels.html" ><i class="glyphicon glyphicon-list-alt"></i>Panels</a></li>
                <li class="list-group-item"><a href="navs.html" ><i class="glyphicon glyphicon-th-list"></i>Navs</a></li>
                <li class="list-group-item"><a href="colors.html" ><i class="glyphicon glyphicon-tint"></i>Colors</a></li>
                <li class="list-group-item"><a href="flex.html" ><i class="glyphicon glyphicon-th"></i>Flex</a></li>
                <li class="list-group-item"><a href="user/login.html" ><i class="glyphicon glyphicon-lock"></i>Login</a></li>
                <li>
                  <a href="#demo3" class="list-group-item " data-toggle="collapse">Item 3  <span class="glyphicon glyphicon-chevron-right"></span></a>
                  <div class="collapse" id="demo3">
                    <a href="#SubMenu1" class="list-group-item" data-toggle="collapse">Subitem 1  <span class="glyphicon glyphicon-chevron-right"></span></a>
                    <div class="collapse list-group-submenu" id="SubMenu1">
                      <a href="#" class="list-group-item">Subitem 1 a</a>
                      <a href="#" class="list-group-item">Subitem 2 b</a>
                      <a href="#SubSubMenu1" class="list-group-item" data-toggle="collapse">Subitem 3 c <span class="glyphicon glyphicon-chevron-right"></span></a>
                      <div class="collapse list-group-submenu list-group-submenu-1" id="SubSubMenu1">
                        <a href="#" class="list-group-item">Sub sub item 1</a>
                        <a href="#" class="list-group-item">Sub sub item 2</a>
                      </div>
                      <a href="#" class="list-group-item">Subitem 4 d</a>
                    </div>
                    <a href="javascript:;" class="list-group-item">Subitem 2</a>
                    <a href="javascript:;" class="list-group-item">Subitem 3</a>
                  </div>
                </li>
                <li>
                  <a href="#demo4" class="list-group-item " data-toggle="collapse">Item 4  <span class="glyphicon glyphicon-chevron-right"></span></a>
                    <li class="collapse" id="demo4">
                      <a href="" class="list-group-item">Subitem 1</a>
                      <a href="" class="list-group-item">Subitem 2</a>
                      <a href="" class="list-group-item">Subitem 3</a>
                    </li>
                </li>
              </ul>
          </div>
          <div class="col-xs-12 col-sm-9 content">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><a href="javascript:void(0);" class="toggle-sidebar"><span class="fa fa-angle-double-left" data-toggle="offcanvas" title="Maximize Panel"></span></a> {% block panel_title %}签到主页{% endblock %}</h3>
              </div>

             <div class="content-row">


                    <button type="button" class="btn btn-default btn-block" style="background-color:#5D8CAE;">签到任务</button>
                 <form action=" /qd/qd/" method="post">
                     <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <table class="table table-bordered table-striped">

                        <tr>
                            <td>班级</td>
                            <td>姓名</td>
                            <td>性别</td>
                            <td>阶段数</td>
                            <td>章节数</td>
                            <td>代码行数</td>
                            <td>BUG数</td>
                            <td>时间</td>
                            <td>备注</td>
                            <td>操作</td>
                        </tr>

                         {% if  today_qd %}

                             <tr>
                            <td>{{ session["clazz"] }}</td>
                            <td>{{ session["uname"] }}</td>
                            <td>{{ session["gender"]| gender}}</td>
                            <td>{{ today_qd.stage}}</td>
                            <td>{{ today_qd.progress }}</td>
                            <td>{{ today_qd.code_num }} </td>
                            <td>{{ today_qd.bug_num}}</td>
                            <td>{{ today_qd.create_time}} </td>
                            <td>{{ today_qd.remark}}</td>
                            <td><span class="label">已签到</span></td>

                        </tr>

                            {% else %}
                                 <tr>
                            <td><input type="text" class="form-control stepper-input" value="{{ session["clazz"] }}" readonly></td>
                            <td><input type="text" class="form-control stepper-input" value="{{ session["uname"] }}" readonly></td>
                            <td><input type="text" class="form-control stepper-input" value="{{ session["gender"]| gender}}" readonly></td>
                            <td><input name="stage" type="number" class="form-control stepper-input" min="0"><span class="stepper-arrow up"></span><span class="stepper-arrow down" ></span></td>
                            <td><input name="progress" class="form-control" type="text" ></td>
                            <td><input name="code_num" class="form-control" type="text" ></td>
                            <td><input name="bug_num" class="form-control" type="text" ></td>
                            <td><input name="create_time" type="text" class="form-control stepper-input" value="{{ create_time }}" readonly></td>
                            <td><input name="remark" class="form-control" type="text" ></td>
                            <td><input type="submit" class="btn btn-default" style="background-color:#5D8CAE;" value="签到"></td>
                        </tr>


                        {% endif %}

                      </table>
                 </form>

                 {% with messages=get_flashed_messages() %}
                  {% if messages %}
                 <div class="alert alert-warning alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <strong>Warning!    </strong>  &nbsp&nbsp&nbsp {{ messages[0] }}
                      </div>
                  {% endif %}
                 {% endwith %}

                    <button type="button" class="btn btn-default btn-block" style="background-color:#5D8CAE;">签到历史</button>
                    <table class="table table-bordered table-striped">

                        <tr>
                            <td>班级</td>
                            <td>姓名</td>
                            <td>性别</td>
                            <td>阶段数</td>
                            <td>章节数</td>
                            <td>代码行数</td>
                            <td>BUG数</td>
                            <td>时间</td>
                            <td>备注</td>

                        </tr>

                        {% for qd in qds %}

                        <tr>
                            <td>{{ session["clazz"] }}</td>
                            <td>{{ session["uname"] }}</td>
                            <td>{{ session["gender"]| gender}}</td>
                            <td>{{ qd.stage }}</td>
                            <td>{{ qd.progress }}</td>
                            <td>{{ qd.code_num }}</td>
                            <td>{{ qd.bug_num }}</td>
                            <td>{{ qd.create_time }}</td>
                            <td>{{ qd.remark }}</td>

                        </tr>


                        {% endfor %}
                      </table>






            </div>
        </div><!-- content -->
      </div>
    </div>

{% endblock %}