{% extends 'common/index.html' %}

{% block title %}签到主页{% endblock %}

{% block head %}
    <meta name="csrf-token" content="{{ csrf_token() }}">
{% endblock %}

{% block panel_title %}签到主页{% endblock %}

{% block side_panel %}
    {% if session['role']==0 %}
        <li class="list-group-item"><a href="{{ url_for('clazz.clazz_management') }}"><i class="glyphicon glyphicon-list-alt"></i>班级管理</a></li>
        <li class="list-group-item"><a href="{{ url_for('stu.user_management') }}"><i class="glyphicon glyphicon-bell"></i>用户管理</a></li>
    {% endif %}
{% endblock %}

{% block panel_body %}

             <div class="content-row">


                    <button type="button" class="btn btn-default btn-block" style="background-color:#5D8CAE;">签到任务</button>
                 <form action=" /qd/qd/" method="post">
                     <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <table class="table table-bordered table-striped">

                        <tr>
                            <td>班级</td>
                            <td>姓名</td>
                            <td>性别</td>
                            <td>阶段数</td>
                            <td>章节数</td>
                            <td>代码行数</td>
                            <td>BUG数</td>
                            <td>时间</td>
                            <td>备注</td>
                            <td>操作</td>
                        </tr>

                         {% if  today_qd %}

                             <tr>
                            <td>{{ session["clazz"] }}</td>
                            <td>{{ session["uname"] }}</td>
                            <td>{{ session["gender"]| gender}}</td>
                            <td>{{ today_qd.stage}}</td>
                            <td>{{ today_qd.progress }}</td>
                            <td>{{ today_qd.code_num }} </td>
                            <td>{{ today_qd.bug_num}}</td>
                            <td>{{ today_qd.create_time}} </td>
                            <td>{{ today_qd.remark}}</td>
                            <td><span class="label">已签到</span></td>

                        </tr>

                            {% else %}
                                 <tr>
                            <td><input type="text" class="form-control stepper-input" value="{{ session["clazz"] }}" readonly></td>
                            <td><input type="text" class="form-control stepper-input" value="{{ session["uname"] }}" readonly></td>
                            <td><input type="text" class="form-control stepper-input" value="{{ session["gender"]| gender}}" readonly></td>
                            <td><input name="stage" type="number" class="form-control stepper-input" min="0"><span class="stepper-arrow up"></span><span class="stepper-arrow down" ></span></td>
                            <td><input name="progress" class="form-control" type="text" ></td>
                            <td><input name="code_num" class="form-control" type="text" ></td>
                            <td><input name="bug_num" class="form-control" type="text" ></td>
                            <td><input name="create_time" type="text" class="form-control stepper-input" value="{{ create_time }}" readonly></td>
                            <td><input name="remark" class="form-control" type="text" ></td>
                            <td><input type="submit" class="btn btn-default" style="background-color:#5D8CAE;" value="签到"></td>
                        </tr>


                        {% endif %}

                      </table>
                 </form>

                 {% with messages=get_flashed_messages() %}
                  {% if messages %}
                 <div class="alert alert-warning alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <strong>Warning!    </strong>  &nbsp&nbsp&nbsp {{ messages[0] }}
                      </div>
                  {% endif %}
                 {% endwith %}

                    <button type="button" class="btn btn-default btn-block" style="background-color:#5D8CAE;">签到历史</button>
                    <table class="table table-bordered table-striped">

                        <tr>
                            <td>班级</td>
                            <td>姓名</td>
                            <td>性别</td>
                            <td>阶段数</td>
                            <td>章节数</td>
                            <td>代码行数</td>
                            <td>BUG数</td>
                            <td>时间</td>
                            <td>备注</td>

                        </tr>

                        {% for qd in qds %}

                        <tr>
                            <td>{{ session["clazz"] }}</td>
                            <td>{{ session["uname"] }}</td>
                            <td>{{ session["gender"]| gender}}</td>
                            <td>{{ qd.stage }}</td>
                            <td>{{ qd.progress }}</td>
                            <td>{{ qd.code_num }}</td>
                            <td>{{ qd.bug_num }}</td>
                            <td>{{ qd.create_time }}</td>
                            <td>{{ qd.remark }}</td>

                        </tr>


                        {% endfor %}
                      </table>






            </div>
        </div><!-- content -->
      </div>
    </div>

{% endblock %}